.dynamic-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.dynamic-table th,
.dynamic-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.dynamic-table th {
    background-color: #d87432;
    font-weight: bold;
    padding-block: 15px;
}

.dynamic-table tr:nth-child(even) {
    background-color: #fafafa;
}